
.modal__title {
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.modal__form {
    gap: 20px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

.modal__form__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.modal__form__image-preview {
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.modal__form__image-preview img {
    max-width: 100%;
    max-height: 100%;
}

.modal__form__image-button{
    display: none;
}

.modal__form__image-label {
    background-color: var(--main-green);
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: white;
}

.modal__form__right {
    flex: 1;
    padding: 0 1rem;
    min-width: 445px;
}

.modal__form__right label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.modal__form__right input:not(.modal__form__price-input input, 
                              .modal__form__discount-price input,
                              .modal__form__right__radio__container__input),
.modal__form__right select,
.modal__form__right textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.modal__form__right__radio {
    display: flex;
    justify-content: space-around;
    height: 1.5rem;
    width: 40%;
}

.modal__form__right__radio__container {
    display: flex;
    align-items: center;
}

.modal__form__right__radio__container__input {
    margin: 0 1rem;
}

.modal__form__right__radio__container__label {
    width: 100%;
}

.modal__form__discount-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__form__discount, 
.modal__form__price, 
.modal__form__stock {
    display: flex;
    flex-direction: column;
    width: 30%;
}


.modal__form__discount-input,
.modal__form__price-input,
.modal__form__stock-input {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.modal__form__discount-input,
.modal__form__stock-input {
    padding-right: 1rem;
}

.modal__form__price-input {
    width: 100%;
    padding-left: 1rem;
}

.modal__form__discount-input input,
.modal__form__price-input input,
.modal__form__stock-input input {
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
}

.modal__form__discount-sign,
.modal__form__price-currency {
    display: flex;
    align-items: center;
    height: 100%;
    padding: .75rem 8px;
}

.modal__form__stock-input {
    padding: .75rem .5rem
}

.modal__form__discount-sign {
    border-left: 1px solid black;
}

.modal__form__price-currency {
    border-right: 1px solid black;

}

.modal__form__type,
.modal__form__category {
    display: inline-block;
    width: 50%;
}

.modal__form__category {
    padding-right: 1rem;
}

.modal__form__type {
    padding-left: 1rem;
}

.select-characteristics {
    padding-left: 0;
    width: 100%;
}

.modal__form__right input[type="submit"]:hover {
    background-color: #0056b3;
}

.modal__form__submit-button {
    display: block;
    background-color: var(--main-green);
    width: 35%;
    padding: 10px 20px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 2rem;
    color: white;
    cursor: pointer;
}

.modal__form__submit-button:hover {
    background-color: var(--dark-green);
}
