.productCartCard{
    background-color: #FFFFFF;
    display: flex;
    
    width: 660px;
    height: 190px;
    border-radius: 5px;

    margin-bottom: 24px;
}

.productCartCardImage{
    display: flex;
    width: 50%;
    justify-content: space-around
}

.productCartCardImage img{
    margin-top: 16px;
    
}

.productCartCardText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
}

.productCartCardText h1{
    width: 70%;
    font-weight: 500;
    font-size: 20px;
}

.productCartCardTextPrice {
    display: flex;
}

.productCartCardTextPrice p{
    font-weight: 600;
    font-size: 26px;
}

.oldPrice{
    margin-right: 16px;
    color: #B0B0B0;
    text-decoration: line-through;
}

.currentPrice{
    color: var(--main-green)
}

.discountCart{
    width: 66px;
    height: 40px;
    padding: 8px;
    background-color: var(--main-green);
    margin-top: 16px;
}

.discountCart span{
    font-weight: 600;
    color: white;
}

.cardProductPrice{
    width: 287px;
    height: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
}
.productCartCardTextActions{
    display: flex;
    justify-content: space-between;
}