footer.footerMobile{
    display: none;
}

@media (max-width: 850px){
    footer.footerMobile{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .footerIconContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 60px;
        height: 60px;
    }
}

