.fullCart{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.productCart, .orderResume{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.orderResumeTextContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.orderResumeTextContainer p{
    font-weight: 400;
    font-size: 30px;
    color: #3C3C3C
}

.strong p{
    font-weight: 600;
    font-size: 30px;
    color: #000
}

.orderResume button{
    width: 100%;
    height: 81px;
    border-radius: 5px;
    padding: 16px;
    background-color: var(--main-green);
    margin: 0 auto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
}

.sectionTitle{
    font-weight: 500;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 40px;
}



@media (max-width: 1000px){
    .fullCart{
        flex-direction: column;
    }

    .productCart{
        justify-content: center;
        align-items: center;
    }

    .productCart, .orderResume{
        width: 100%;
    }

    .orderResume button{
        font-size: 20px;
    }
    
}