.little-catalogue-text {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left: 25vw;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 0;
    font-size: .8rem;
    font-weight: 300;
}

/* FilterAnimation.css */

.toggle-filter {
    display: none;
}

@media screen and (min-width: 896px) {
    .toggle-filter-label {
        display: none;
    }

}

/* The filter container */

@media screen and (max-width: 895px) {

    .filter {
        transition: max-width 0.3s ease-in-out, width 0.3s ease-in-out;
    }

    /* Apply animation when the toggle checkbox is checked */
    .toggle-filter:checked ~ .filter {
        max-width: 70vw;
        width: 70vw;
        padding-bottom: 5rem;
    }

    /* Optional: Styling for the toggle button */
    .toggle-filter-label {
        margin: 1rem;
        display: block;
        font-size: 1.5rem;
    }

    .toggle-filter-label__image-container {
        height: 100%;
        width: 2rem;
    }
    
    .toggle-filter-label__image-container__image {
        height: 100%;
        width: auto;
        object-fit: fill;
    }

    .little-catalogue-text {
        display: none;
        margin-left: 30vw
    }


};