.service-block {
    overflow-x: scroll;
}

.service-block::-webkit-scrollbar {
    background-color: transparent;
}

.service-block::-webkit-scrollbar-button {
    display: none;
}

.service-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--lighter-green);
    width: 1300px;
    padding: 1rem;
    margin: auto
}

.service-container__element:nth-child(2) {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.service-container__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.service-container__element__icon {
    padding: 0 0.5rem;
}

.service-container__element__text__text {
    font-weight: 100;
    font-size: 0.8rem;
}

.text-below-container {
    text-align: center;
}